/*
 * Estilos de tu proyecto
 */
body{
	margin: 0 auto; /*corregir el margen automatico de body*/
}
/*estilos del header*/
header{
	background-color: #F4E218;
}
#logo{
	width: 15em;
}
.logo{
	display: flex;
	justify-content: space-around;
}
#menu{
	appearance: none;
	border: none;
	background-color: #F4E218;
	font-size: 2em;
	height: 1.2em;
	width: 13em;
	margin-top: 1em;
}
#menu:focus{
	outline: none;
}
#menu option{
	font-size: 0.6em;
}
.tab{
	display: flex;
	justify-content: flex-end;
}
.tablinks{
	border: none;
	background-color: #F4E218;
	font-size: 1em;
}
.tablinks:last-child{
	margin-right: 15em;
}
/*efecto de los botones del header*/
.tablinks:focus{
	outline: none;
	border-bottom: 0.2em solid black;
}
/*fin estilos del header*/
/*Estilos del footer*/
footer{
	background-color: #F4E218;
	height: 5em;
	text-align: center;
}
select,p{
	display: inline-flex;
	margin-top: 2em;
}
/*fin de estilos del footer*/
/*estilos del section "datos"*/
.enrollment{
 	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
}
.p1 {
 	font-family:arial; 
 	height: 2em;
 	font-size:1.5em;
 	position: relative;
 	left: 0.5em;
 	display: flex;
}
.img1{
	width: 12em;
	height: 9em;
	position: relative;
	right:7em;
	top:7em;
	
}
.achievement {
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
.img2{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.net-promoter-score{
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
.img3{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.tech-skills{
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
.img4{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.img5{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.life-skills{
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
 .img6{
 	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.img7{
 	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.student-satisfaction{
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
.img8{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.teacher-rating{
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
.img9{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.jedi-master-rating{
	background: white;
 	height:16em;
 	width: 20em;
	border-radius: 1em;
 	outline: 0.2em red solid;
 	display:inline-flex;
 	position: relative;
 	top: 2em;
 	left: 6em;
}
.img10{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
/*fin estilos seccion datos*/
/*estilos de la seccion de estudiantes */
.fa-search{
	padding: 0.5em;
	padding-right: 20em;
	border: 0.1em solid black;
	border-radius: 0.5em;
	margin: 0.5em;
}
#estudent{
	display: flex;
	flex-direction: column;
}
.info-students{
	display: flex;
	align-self: flex-end;
	border: 0.1em solid grey;
	border-radius: 0.5em;
	width: 30em;
	margin: 1em;
}
.info-students img{
	height: 6em;
	margin: 0.5em;
}
.info-students p{
	font-size: 1.1em;
}
#button{
	border: none;
	border-radius: 0.5em;
	outline: none;
	background-color: #F4E218;
	color: white;
	padding: 0.5em;
	height: 2em;
	margin-left: 10em;
}
/*seccion profesores*/
#teacher{
	text-align: center;
}