/*
 * Estilos de tu proyecto
 */
body{
	margin: 0 auto; /*corregir el margen automatico de body*/
}
/*estilos del header*/
header{
	background-color: #F4E218;
}
#logo{
	width: 15em;
}
.logo{
	display: flex;
	justify-content: space-around;
}
#menu{
	appearance: none;
	border: none;
	background-color: #F4E218;
	font-size: 2em;
	height: 1.2em;
	width: 13em;
	margin-top: 1em;
}
#menu:focus{
	outline: none;
}
#menu option{
	font-size: 0.6em;
}
.tab{
	display: flex;
	justify-content: flex-end;
}
.tablinks{
	border: none;
	background-color: #F4E218;
	font-size: 1em;
}
.tablinks:last-child{
	margin-right: 15em;
}
.tablinks:focus{
	outline: none;
	border-bottom: 0.2em solid black;
}
/*efecto de los botones del header*/

/*fin estilos del header*/


 .enrollment{
 	background: #FFE4C4;
 	height:300px;
 	width: 400px;
	border-radius: 4px;
 	outline: 1px red solid;
 	display:inline-flex;
 	margin-left: 100px;
 	margin-right: 20px;
 	margin-bottom: 20px;
 }
 .p1 {
 	font-family:arial; 
 	font-size:16px;
 	position: relative;
 	left: 200px;
 	display: flex;

}

.img1{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
	
}
.achievement {
	background: #FFE4C4;
 	height:300px;
 	width: 400px;
 	border-radius: 4px;
 	outline: 1px red solid;
 	display:inline-flex;
 	margin-right: 20px;
}
.img2{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}

.net-promoter-score{
	background: #FFE4C4;
 	height:300px;
 	width: 400px;
 	border-radius: 4px;
 	outline: 1px red solid;
 	display:inline-flex;
}
.img3{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.tech-skills{
	background: #FFE4C4;
 	height:400px;
 	width: 1200px;
 	border-radius: 4px;
 	outline: 1px red solid;
 	display:inline-flex;
 	margin-left: 100px;
 	margin-bottom: 20px;
}


.img4{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;

}

.img5{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.life-skills{
	background: #FFE4C4;
 	height:400px;
 	width: 1200px;
 	display:inline-flex;
 	border-radius: 4px;
 	outline: 1px red solid;
 	margin-left: 100px;
 	margin-bottom: 20px;
 }
 .img6{
 	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;

 }

 .img7{
 	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
 }
.student-satisfaction{
	background: #FFE4C4;
 	height:300px;
 	width: 400px;
 	display:inline-flex;
 	border-radius: 4px;
 	outline: 1px red solid;
 	margin-left: 100px;
 	margin-right: 20px;
}
.img8{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.teacher-rating{
	background: #FFE4C4;
 	height:300px;
 	width: 400px;
 	display:inline-flex;
 	border-radius: 4px;
 	outline: 1px red solid;
 	margin-right: 20px;
}
.img9{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
.jedi-master-rating{
	background: #FFE4C4;
 	height:300px;
 	width: 400px;
 	display:inline-flex;
 	border-radius: 4px;
 	outline: 1px red solid;
 	margin-right: 20px;
}
.img10{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
